# LAÇO FOR PARA PERCORRER
## CONSTANTE VOGAIS 
## VALORES FIXO POR ISSO TUDO EM MAISCULO

In [3]:
texto = input("Informe um texto: ")

VOGAIS = "AEIOU"

for letra in texto:
    if letra.upper() in VOGAIS:
        print(letra, end="")
else:
    print()
    print(texto)

aea
valdemar

# Range com for
# Ultimo e exclusivo não conta

In [6]:
for numero in range (0, 11):
    print(numero, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [7]:
# EXIBINDO A TABUADA DO 5
for numero in range(0, 51, 5):
    print(numero, end=" ")

0 5 10 15 20 25 30 35 40 45 50

# Mostar somente os numeros pares

In [9]:
for numero in range(100):
    
    if numero % 2 != 0:
        print(numero, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

# EXCLUIR O NUMERO 50 DA LISTA

In [13]:
for numero in range(100):
    
    if numero == 50:
        continue
    print(numero, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99